@import url(./fonts.css);

*{
    box-sizing: border-box;
}

html{
    font-family: 'Barlow-LIght';
}

body{
    background-color: #EFF6FF;
}


h1, h2, h3, h4{
    color: #2A4A5C;
}

p{
    color: #7B8A92;
}

/* Main block sheild */

.main-container{
    margin: auto;
    margin-top: 3%;
    width: 90%;
    height: 90%;
    display: flex;
}

/* header block sheilds */

header{
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 50%;
}

.logo{
    width: 18%;
    margin-top: 4%;
    margin-left: 6%;
}

/*main section sheild*/

.main-field{
    flex-basis: 50%;
    height: 100%;
    background-color: #fff;
}

/*registration section sheilds*/

.registration-section{
    margin: auto 10%;
    margin-top: 8%;
}

.buttons-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7%;
}

.buttons-block > button{
    color: #ffffff;
    border: none;
    font-family: 'Barlow-LIght';
    width: 45%;
    height: 2rem;
    font-size: .7rem;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: -30% 45%;
}

.linkedin{
    background-color: #0076B6;
    background-image: url(./img/linkedin.svg);
}

.fb{
    background-color: #255A9B;
    background-image: url(./img/facebook.svg);
}

.or{
    margin-top: 6%;
    font-family: 'Barlow-Medium';
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or>span{
    margin: auto 1%;
}

.or::before, .or::after{
    content: '';
    background-color: #dfdfdf;
    height: 1px;
    width: 20%;

}
