@import url(./fonts.css);
@import url(./animatiion.css);

*{
    box-sizing: border-box;
}

html{
    font-family: 'Barlow-LIght';
}

body{
    background-color: #EFF6FF;
}


h1, h2, h3, h4{
    color: #2A4A5C;
}

p{
    color: #7B8A92;
}

/* Main block sheild */

.main-container{
    margin: auto;
    margin-top: 3%;
    width: 90%;
    height: 90%;
    display: flex;
}

/* header block sheilds */

header{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 50%;
}

.logo{
    width: 18%;
    margin-top: 4%;
    margin-left: 6%;
}

/*main section sheild*/

.main-field{
    flex-basis: 50%;
    height: 100%;
    background-color: #fff;
}

/*registration section and form sheilds*/

.registration-section, .registration-form{
    margin: auto 10%;
    margin-top: 4%;
}

/*registration buttons shield*/

.buttons-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

button, input[type="submit"]{
    color: #ffffff;
    border: none;
    font-family: 'Barlow-LIght';
    width: 45%;
    height: 2rem;
    font-size: .7rem;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: -30% 45%;
}

button:hover{
    animation-name: shake;
    animation-duration: .1s;
    animation-iteration-count: 3;
    cursor: pointer;
}

.linkedin{
    background-color: #0076B6;
    background-image: url(../img/linkedin.svg);
}

.fb{
    background-color: #255A9B;
    background-image: url(../img/facebook.svg);
}

/*OR block shield*/

.or{
    margin-top: 4%;
    font-family: 'Barlow-Medium';
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or>span{
    margin: auto 1%;
}

.or::before, .or::after{
    content: '';
    background-color: #dfdfdf;
    height: 1px;
    width: 20%;

}

/*inputs form sheilds*/

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box{
    display: flex;
    flex-direction: column;
    color: #a5a4a4;
    font-size: .9em;
    border: 1px solid #EEEEEE;
    padding: 1%;
    width: 45%;
}

.input-active{
    border-left: 2px solid #3698FB;
}

.input-box>span{
    margin-bottom: 3%;
}

.input-box>input{
    border: none;
}

.input-box>input:focus{
    outline: none;
}

/*questions block form sheilds*/

.question-block{
    margin: 5% 0;
}

.question-block>p{
    font-size: .8em;
    margin-top: 3%;
}

.question-block>h3, p{
    margin: 0px;
}

/*radio buttons block form sheilds*/

.radio-block{
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow-Medium';
    font-size: .8em;
}

.radio-elem{
    display: flex;
}

input[type="radio"]{
    position: absolute;
    left: -9999px;
}

input[type="radio"] + label{
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

input[type="radio"] + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1rem;
    height: 1rem;
    border: 1px solid #dddddd;
    border-radius: 50%;
}

input[type="radio"]:not(:checked) + label:before {
    border: 1px solid #afafaf;
}

input[type="radio"]:checked + label:before {
    border: 2px solid #3158d8;
    box-shadow: 0 0 6px #6384f1;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    border: 1px solid #888888;
    border-radius: 50%;
    font-size: .8em;
    width: 15px;
    height: 12px;
    color: #AFAFAF;
    margin-top: 4%;
    cursor: pointer;
}

/*popup block form sheilds*/

.description{
    display: none;
    padding: 1%;
    padding-bottom: 3%;
    width: 50%;
    font-size: .8rem;
    margin-top: 6%;
    margin-left: 6%;
    box-shadow: 0 0 8px #8b8b8b;
}

.description-active{
    display: block;
}

/*agreement form sheilds*/

.agreement{
    margin: 3% 0;
    font-size: .7rem;
    color: #888888;
}

.agreement-link{
    color: #3698FB;
}

/*submit form sheild*/

.submit{
    background-color: #3698FB;
    margin: 4% 0;
    transition: all;
    transition-duration: .6s;
}

.submit:hover{
    cursor: pointer;
    transition: all;
    transition-duration: .6s;
    transform: scale(1.2);
}